
<div id="siteBody">


<div id="siteIndexContainer">

<div id="siteInnerContainer">


<img  id="siteBrand" draggable="false" src="/assets/attender.svg" />


<div id="siteOptions">
  <br />
  <br />
<%= link_to (student_landing_path) do %>
<button id="siteIndexStudent">I'm a Student</button>
<% end %>

<%= link_to (teacher_landing_path) do %>
<button id="siteIndexTeacher">I'm a Teacher</button>
<% end %>

<%#siteOptions%>
</div>

<%#InnerContainer%>
</div>

<%#siteIndexContainer %>
</div>
<%#Take the Whole Body %>
</div>
