
<div id="siteBody">


<div id="siteIndexContainer">

<div id="siteInnerContainer">


<img  id="siteBrand" draggable="false" src="/assets/attender.svg" />


<div id="siteOptions">
  <br />
  <br />
<%#= link_to (student_landing_path) do %>
<a href="/students/sign_in">
<button id="siteIndexStudent">I'm a Student</button>
</a>
<%# end %>

<%#= link_to (teacher_landing_path) do %>
<a href="/teachers/sign_in"><button id="siteIndexTeacher">I'm a Teacher</button>
</a>
<%# end %>

<%#siteOptions%>
</div>

<%#InnerContainer%>
</div>

<%#siteIndexContainer %>
</div>
<%#Take the Whole Body %>
</div>
