<div id="siteBody">

<div id="siteIndexContainer">

<div id="siteInnerContainer">


<img  id="siteBrand" draggable="false" src="/assets/attender.svg" />


<div id="siteOptions">
  <br />
  <br />

<a href="/students/sign_in"><button id="siteIndexStudent">Student Sign In</button></a>


<a href="/students/sign_up"><button id="siteIndexTeacher">Student Sign Up</button></a>


<%#siteOptions%>
</div>

<%#InnerContainer%>
</div>

<%#siteIndexContainer %>
</div>
<%#Take the Whole Body %>
</div>
