<% if (current_student || current_teacher) && !@no_nav %>
<input type="checkbox" id="menuToggle">

<div id="topNav">
  <label for="menuToggle" class="menu-icon">&#9776;</label>
  <img id="brandImg" draggable="false" src="/assets/whiteLogo.png"/ />
</div>

<nav class="menu">
      <a href="/"><i class="fa fa-user" aria-hidden="true">&#160;</i>Profile</a>
      <a href="/"><i class="fa fa-book" aria-hidden="true">&#160;</i> Course</a>
      <% if current_student %>
      <%= link_to(destroy_student_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% else %>
      <%= link_to(destroy_teacher_session_path, :method => :delete) do %>

      <i class="fa fa-sign-out" aria-hidden="true">&#160;</i>Log Out
      <% end %>
      <% end %>

</nav>
<% end %>

<%= render "form", course: @course %>
