

<div class="new-class-button">New Class</div>

<div id="render-cal" data-course-id="<%= @course.id %>">
</div>

<div class="class-results">

</div>

<div class="modal">
  <div class="modal-content">
    <div class="modal-form">

    </div>
    <div class="close"><i class="fa fa-times"></i></div>
  </div>
</div>
